.balinks a {
	position: relative;
	top: -50px;
	-webkit-animation: drop-in 0.7s 1.2s ease 1;
	-webkit-animation-fill-mode: forwards;
}


// Animation Definitions
// --------------------------------

@-webkit-keyframes drop-in {
	from { top: -50px; }
	to   { top: -2px; }
}