//  masthead
#masthead {
  border-bottom: 35px solid #3c3d3c;
  margin: 0 0 32px 0;
  height: 149px;

  img.logo {
    position: relative;
    top: 1px;
    
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */

    &:hover {

    }
  }

  h2 {
    padding: 26px 0 0 0;
  }
}

// space adjustments

.top-space {
  padding-top: 16px;
}

.bottom-space {
  padding-bottom: 16px;
}

.left-space {
  padding-left: 16px;
}

.right-space {
  padding-right: 16px;
}

.vertical-space {
  padding: 16px 0;
}

.horizontal-space {
  padding-top: 0 16px;
}