---
author: bootstrapinator
---
{% include setup %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="assets/css/styles.css" rel="stylesheet" media="all">
    <!-- <link href="assets/css/responsive.css" rel="stylesheet" media="all"> -->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/img/icons/favicon.ico">
    <link rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/icons/apple-touch-icon-114x114.png">
  <!-- JQUERY -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="assets/js/jquery.1.7.2.min.js"></script>
  <script src="assets/js/jquery-ui-1.8.13.custom.min.js"></script>
  <script src="assets/js/jquery.beforeafter-1.4.min.js"></script>
  <script src="assets/js/app.js"></script>

  </head>

  <body>
    
    <div id="masthead">
      <div class="container">
        <div class="row vertical-space">
          <div class="span3">
            <h1>
              <a href="{{ BASE_PATH }}">
                <img class="logo" src="assets/img/logo_bar.png" alt="Bootstrapinator">
              </a>
            </h1>
          </div>
          <div class="span9">
            <h2 class="tagline">Beautiful, open-source bootstrap themes designed to spice up your bootstrap app.</h2>
          </div>
        </div>
      </div>
    </div>

    {{ content }}

    <footer>
      <div class="container top-space">
        <div class="row">
          <div class="span6">
            <p>&#169; Bootstrapinator, 2012</p>
          </div>
          <div class="span6">
            <div class="pull-right">
              <p>Also find us here. <a href="https://twitter.com/#!/bootstrapinator" target="_blank">@bootstrapinator</a> &#124; <a href="https://github.com/bootstrapinator/bootstrapinator" target="_blank" >Github</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
